{% extends "base.html" %}
{% load menu_filter %}
{% block menu %}
<ul>
  {% for i in menu|items_tag %}
    <li>
      <a href="#">
        {{i.nombre}}<span></span>
      </a>
      {% if i.subitems.all|length > 0 %}
      <div class="sub">
          <div class="row">
            <div class="col-6"></div>
            <div class="col-3 right">
              <h3>Titulo</h3>
              <ul>
                 {% for s in i.subitems.all %}
                 <li>
                   <a href="/page/{{s.id}}/">{{s.nombre}}</a>
                 </li>
                 {% endfor %}
              </ul>
            </div>
          </div>
      </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endblock %}
{% block boby %}
  {% for c in contenido|contenido_tag %}
        {{c.contenido|safe}}
  {% endfor%}
{% endblock %}
{% block footer %}
  <div class="row">
      <div class="col-3">
          <h3>Servicios</h3>
          <ul>
              <li>
                  <a href="#">Digitalización de procesos de negocios</a>
              </li>
              <li>
                  <a href="#">Apps móviles</a>
              </li>
              <li>
                  <a href="#">Apps web</a>
              </li>
              <li>
                  <a href="#">Data & analytics</a>
              </li>
              <li>
                  <a href="#">Internet de las cosas IoT</a>
              </li>
              <li>
                  <a href="#">Integración a soluciones hardware</a>
              </li>
              <li>
                  <a href="#">Sistemas de información geográfica</a>
              </li>
              <li>
                  <a href="#">Digitalización</a>
              </li>
          </ul>
      </div>
      <div class="col-3">
          <h3>Productos</h3>
          <ul>
              <li>
                  <a href="#">Huella</a>
              </li>
              <li>
                  <a href="#">Picix</a>
              </li>
              <li>
                  <a href="#">Lapix</a>
              </li>
              <li>
                  <a href="#">GeoActivos</a>
              </li>
          </ul>
      </div>
      <div class="col-3">
          <h3>Experiencia</h3>
          <ul>
              <li>
                  <a href="#">Servicios Públicos</a>
              </li>
              <li>
                  <a href="#">Minería</a>
              </li>
              <li>
                  <a href="#">Gestión Ambiental</a>
              </li>
              <li>
                  <a href="#">Mensajería y Logística</a>
              </li>
              <li>
                  <a href="#">Inventario y Mantenimiento</a>
              </li>
              <li>
                  <a href="#">Georeferenciación</a>
              </li>
          </ul>
      </div>
      <div class="col-3">
          <h3>Nosotros</h3>
          <ul>
              <li>
                  <a href="#">Misión</a>
              </li>
              <li>
                  <a href="#">Visión</a>
              </li>
              <li>
                  <a href="#">Valores</a>
              </li>
              <li>
                  <a href="#">Objetivos</a>
              </li>
          </ul>
      </div>
  </div>
  <div class="row power">
      <div class="col-2">
          2016 Power by Exile
      </div>
      <div class="col-10 right social">
          <span>Sigenos en: </span>
          <ul>
              <li><a href="#"><span></span>Facebook</a></li>
              <li><a href="#"><span></span>Github</a></li>
              <li><a href="#"><span></span>Twitter</a></li>
              <li><a href="#"><span></span>LinkedIn</a></li>
              <li><a href="#"><span></span>Youtube</a></li>
              <li><a href="#"><span></span>Google+</a></li>
          </ul>
      </div>
  </div>
{% endblock %}
