@import "utils";
@import "mixin";

*{
    box-sizing: border-box;
}

html, body, #sheet{
    @extend %wh1;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#sheet{
    display: flex;
    flex-flow: column;
    > .header{
        height: 56px;
        background: navy;
        transition: height .2s;
        color: white;
        &.top{
            height: 128px;
        }
        nav{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                position: relative;
                right: 0;
                li{
                    display: inline-block;
                    padding: 16px 8px;
                    &:first-child{
                        padding-left: 16px;
                    }
                    &:last-child{
                        padding-right: 16px;
                    }
                    a{
                        display: block;
                        @extend %wh1;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
    > .content{
        background: white;
        flex: 2;
        overflow: auto;
        [class^="col-"]{
            border: 1px solid red;
        }
    }
}

.row{
    width: 1200px;
}
.rowf{
    @extend %w1;
}
.row, .rowf{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @include cols(12);
}

[class^="col-"] > *:not(input):not(p):not(h1){
    // padding: 16px;
}
