@import "utils";
@import "mixin";
*{
    box-sizing: border-box;
}
html, body, #sheet{
    @extend %wh1;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#sheet{
    display: flex;
    flex-flow: column;
    .header{
        height: 56px;
        background: navy;
        transition: height .2s;
        color: white;
        &.top{
            height: 128px;
        }
        > *:first-child{
            margin-top: 3px;
        }
        nav{
            margin-top: 2px;
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                position: relative;
                right: 0;
                li{
                    display: inline-block;
                    a{
                        display: block;
                        @extend %wh1;
                        padding: 16px;
                        text-decoration: none;
                        color: white;
                        span {
                            transition: width .2s;
                            display: block;
                            margin: 3px;
                            width: 0%;
                        }
                        &:hover{
                            span{
                                border: 1px solid white;
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
    .content{
        background: white;
        flex: 2;
        overflow: auto;
        [class^="col-"]{
            border: 1px solid red;
        }
    }
}
.row{
    width: 1200px;
    @media screen and (max-width:  1200px) {
        width: 100%;
    }
}
.rowf{
    @extend %w1;
}
.row, .rowf{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @include cols(12);
}
.right{
    display: flex;
    justify-content: flex-end;
}
.left{
    display: flex;
    justify-content: flex-start;
}
.center{
  display: flex;
  justify-content: center;
}

[class^="col-"] > *:not(input):not(p):not(h1){
    // padding: 16px;
}
