{% load static %}
<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>{% trans 'Page not found' %}</title>
        <link rel="stylesheet" href="{% static '404/css/reset.css' %}">
        <link rel="stylesheet" href="{% static '404/css/style.css' %}">
    </head>
    <body>
        <div id="world"/>
        <div id="credits">
            <h1>404</h1>
            <h2>No hemos encontrado lo que estaba uscando</h2>
            <p>
                <a href="/" >Exile</a>
                |
                Karim Maaloul
          </p>
        </div>
        <script src='{% static "404/js/three.min.js" %}'></script>
        <script src='{% static "404/js/TweenMax.min.js" %}'></script>
        <script src='{% static "404/js/OrbitControls.js" %}'></script>
        <script src='{% static "404/js/Cat.js" %}'></script>
        <script src='{% static "404/js/index.js" %}'></script>
    </body>
</html>
