@import "utils";
@import "mixin";
* {
    box-sizing: border-box;
}
.row {
    width: 1200px;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.rowf {
    @extend %w1;
}

.row,.rowf {
    margin: 16px auto;
    background: rgb(96, 136, 152);
    display: flex;
    flex-wrap: wrap;
    @include cols(12);
    .col-1, .col-2, .col-3{
        @media screen and (max-width: 421px) {
            width: 100%;
        }
        @media screen and (min-width: 422px) and  (max-width: 621px){
            width: 50%;
        }
    }
    .col-2{
        @media screen and (min-width: 622px) and  (max-width: 821px){
            width: 50%;
        }
        @media screen and (min-width: 822px) and  (max-width: 1200px){
            width: 33.3334%;
        }
    }
    .col-1, .col-3{
        @media screen and (min-width: 622px) and  (max-width: 821px){
            width: 25%;
        }
    }
}

[class^="col-"] {
    height: 56px;
    border: 1px solid red;
}

.col-1{
    @media screen and (max-width: 421px) {
        width: 100%;
    }
    @media screen and (min-width: 422px) and  (max-width: 621px){
        width: 100%;
    }
}
