#sheet,
body,
html, #sheet .header nav > ul > li > a, .rowf {
  width: 100%; }

#sheet,
body,
html, #sheet .header nav > ul > li > a {
  height: 100%; }

#sheet .header .top-header, .servicios a:hover, .card, a.btn, button, input[type=button], input[type=submit] {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

* {
  box-sizing: border-box; }

#sheet,
body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: #d4e8e3;
  color: #333; }

body {
  transition: opacity 0.2s; }

body.hidden {
  opacity: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: #023147;
  text-transform: uppercase; }
  .header h1, .header
  h2, .header
  h3, .header
  h4, .header
  h5, .header
  h6 {
    color: white; }
  .title h1, .title
  h2, .title
  h3, .title
  h4, .title
  h5, .title
  h6 {
    color: #B94735; }
  .card h1, .card
  h2, .card
  h3, .card
  h4, .card
  h5, .card
  h6 {
    color: #B94735; }

#sheet {
  display: flex;
  flex-flow: column; }
  #sheet .header {
    height: 56px;
    background: #023147;
    transition: height 0.2s;
    color: white; }
    #sheet .header.top {
      height: 128px; }
      #sheet .header.top .top-header {
        top: 0; }
      #sheet .header.top .memu {
        margin-top: 0; }
    #sheet .header .top-header {
      position: relative;
      top: -60px;
      background: white;
      height: 56px;
      border-radius: 0 0 3px 3px;
      transition: top 0.2s; }
      #sheet .header .top-header .social {
        color: #333;
        padding: 12px; }
        #sheet .header .top-header .social > span {
          margin-top: 4px; }
        #sheet .header .top-header .social a > span {
          vertical-align: sub; }
    #sheet .header .memu {
      transition: all 0.2s;
      position: relative;
      margin-top: -56px; }
    #sheet .header .logo {
      padding: 12px; }
      #sheet .header .logo .img {
        display: inline-block;
        background-image: url("../img/white-logo.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: bottom;
        width: 60px;
        height: 30px; }
    #sheet .header nav {
      margin-top: 2px; }
      #sheet .header nav > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        right: 0; }
        #sheet .header nav > ul > li {
          display: inline-block; }
          #sheet .header nav > ul > li > a {
            display: block;
            padding: 16px;
            text-decoration: none;
            color: white;
            text-transform: uppercase; }
            #sheet .header nav > ul > li > a > span {
              transition: width 1s;
              position: relative;
              display: block;
              width: 0; }
            #sheet .header nav > ul > li > a:hover > span {
              border: 1px solid white;
              width: 100%; }
          #sheet .header nav > ul > li .sub {
            display: none; }
          #sheet .header nav > ul > li.selected .sub {
            background: #023147;
            background: -moz-linear-gradient(top, #023147 0%, #023147 19%, rgba(2, 49, 71, 0.85) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, #023147), color-stop(49%, #023147), color-stop(100%, rgba(2, 49, 71, 0.85)));
            background: -webkit-linear-gradient(top, #023147 0%, #023147 19%, rgba(2, 49, 71, 0.85) 100%);
            background: -o-linear-gradient(top, #023147 0%, #023147 19%, rgba(2, 49, 71, 0.85) 100%);
            background: -ms-linear-gradient(top, #023147 0%, #023147 19%, rgba(2, 49, 71, 0.85) 100%);
            background: linear-gradient(to bottom, #023147 0%, #023147 19%, rgba(2, 49, 71, 0.85) 100%);
            display: block;
            position: fixed;
            z-index: 1000;
            right: 0;
            left: 0;
            margin-top: -4px; }
            #sheet .header nav > ul > li.selected .sub a {
              color: white; }
              #sheet .header nav > ul > li.selected .sub a > span {
                border: 1px solid white;
                width: 100%; }
          #sheet .header nav > ul > li.selected a > span {
            border: 1px solid white;
            width: 100%; }
  #sheet .content {
    flex: 2;
    overflow: auto; }

.row {
  width: 1200px; }
  @media screen and (max-width: 1200px) {
    .row {
      width: 100%; } }

.row,
.rowf {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  .row .col-1,
  .rowf .col-1 {
    width: 8.33333%; }
  .row .col-2,
  .rowf .col-2 {
    width: 16.66667%; }
  .row .col-3,
  .rowf .col-3 {
    width: 25%; }
  .row .col-4,
  .rowf .col-4 {
    width: 33.33333%; }
  .row .col-5,
  .rowf .col-5 {
    width: 41.66667%; }
  .row .col-6,
  .rowf .col-6 {
    width: 50%; }
  .row .col-7,
  .rowf .col-7 {
    width: 58.33333%; }
  .row .col-8,
  .rowf .col-8 {
    width: 66.66667%; }
  .row .col-9,
  .rowf .col-9 {
    width: 75%; }
  .row .col-10,
  .rowf .col-10 {
    width: 83.33333%; }
  .row .col-11,
  .rowf .col-11 {
    width: 91.66667%; }
  .row .col-12,
  .rowf .col-12 {
    width: 100%; }

.right {
  display: flex;
  justify-content: flex-end; }

.left {
  display: flex;
  justify-content: flex-start; }

.center {
  display: flex;
  justify-content: center; }

.bottom {
  display: flex;
  align-items: flex-end; }

.servicios a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #023147;
  padding: 16px 0;
  transition: all .2s; }
  .servicios a span {
    display: block; }
  .servicios a:hover {
    background: #80d4fb;
    border-radius: 3px; }

.rowf .rowf:nth-child(1) .servicios:nth-child(2n+1) a:hover {
  background: #df9a8f; }

.rowf .rowf:nth-child(2) .servicios:nth-child(2n) a:hover {
  background: #80d4fb; }

.card {
  width: 99%;
  padding: 40px 0;
  border-radius: 3px;
  background: white;
  margin-top: 16px;
  margin-bottom: 16px; }
  .card p {
    font-size: larger; }
  .card p, .card h2, .card h4, .card ul {
    padding-left: 16px; }
  .card a {
    color: #B94735; }
  .card ul {
    padding: 50px;
    list-style: circle; }

.pd {
  padding: 16px; }

footer.card {
  width: 99%;
  border-radius: 3px 3px 0 0;
  padding-bottom: 0;
  margin-bottom: 0; }
footer .power [class^="col-"] {
  align-items: baseline;
  border-top: 1px solid #555;
  padding: 16px; }
footer h3 {
  padding-left: 16px;
  text-align: right;
  color: #023147 !important; }
footer ul {
  padding: 0; }
  footer ul > li {
    text-align: right;
    list-style: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 12px; }
  ul > li {
    padding: 4px 0; }
    ul > li > a {
      text-decoration: none;
      color: #555; }
      ul > li > a:hover {
        text-decoration: underline;
        color: #023147; }
  .social ul > li {
    display: inline-block;
    padding: 4px 8px; }

.social a > span {
  vertical-align: sub;
  margin-right: 2px; }

a.btn, button, input[type=button], input[type=submit] {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px 30px;
  margin: 4px;
  color: white;
  background: #023147;
  border: 1px solid transparent;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  transition: all .1s; }
  a.btn:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
    background: #035379; }
  a.btn:active, button:active, input[type=button]:active, input[type=submit]:active {
    box-shadow: none; }
  a.btn.outline, button.outline, input[type=button].outline, input[type=submit].outline {
    background: transparent;
    border: 1px solid #023147;
    color: #023147; }
    a.btn.outline:hover, button.outline:hover, input[type=button].outline:hover, input[type=submit].outline:hover {
      color: white;
      background: #035379; }

video {
  background: #848385;
  max-height: 850px; }

.title {
  background: white;
  background-image: url(../img/Aqua-ux-787980_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 400px;
  margin-top: -16px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .title.i2 {
    background-image: url(/media/Imagenes/Duotono/2.jpg); }
  .title.i3 {
    background-image: url(/media/Imagenes/Duotono/3.jpg); }
  .title.i4 {
    background-image: url(/media/Imagenes/Duotono/4.jpg); }
  .title.i5 {
    background-image: url(/media/Imagenes/Duotono/5.jpg); }
  .title.i6 {
    background-image: url(/media/Imagenes/Duotono/6.jpg); }
  .title.i7 {
    background-image: url(/media/Imagenes/Duotono/7.jpg); }
  .title.i8 {
    background-image: url(/media/Imagenes/Duotono/8.jpg); }

.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/Aqua-ux-787980_1920.jpg); }
  .img.parallax {
    background-attachment: fixed; }
  .img.i2 {
    background-image: url(/media/Imagenes/Duotono/2.jpg); }
  .img.i3 {
    background-image: url(/media/Imagenes/Duotono/3.jpg); }
  .img.i4 {
    background-image: url(/media/Imagenes/Duotono/4.jpg); }
  .img.i5 {
    background-image: url(/media/Imagenes/Duotono/5.jpg); }
  .img.i6 {
    background-image: url(/media/Imagenes/Duotono/6.jpg); }
  .img.i7 {
    background-image: url(/media/Imagenes/Duotono/7.jpg); }
  .img.i8 {
    background-image: url(/media/Imagenes/Duotono/8.jpg); }
  .img.m1 {
    background-image: url(/media/Menus/1.png); }
  .img.m2 {
    background-image: url(/media/Menus/2.png); }
  .img.m3 {
    background-image: url(/media/Menus/3.png); }
  .img.m4 {
    background-image: url(/media/Menus/4.png); }
  .img.m5 {
    background-image: url(/media/Menus/5.png); }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.text-right {
  text-align: right; }

.pd80 {
  padding: 80px; }

.pd0 {
  padding: 0px; }

.blur, .title h1 {
  padding: 16px;
  background: rgba(255, 255, 255, 0.4); }

ul.info {
  list-style: none; }
  ul.info > li {
    display: block; }
    ul.info > li > * {
      display: inline-block; }
    ul.info > li.fa:before {
      font-size: 20px; }
    ul.info > li h2 {
      color: #023147;
      padding-right: 16px; }
      ul.info > li h2:after {
        content: ':'; }

/*# sourceMappingURL=exile.css.map */
